<%- include( "partials/header.ejs" ) %>

<main class="song-info-page" style="background-image: linear-gradient(to bottom, #040404b7 0vw , #060606e1 10vw , #1b1b1b 60vw, #1b1b1b 90vw), url('/album-covers/<%= albumStatics.album_name.toLowerCase() %>.webp')">


    <div class="main">
        <div class="mobile-display-cover">
            <img src="/album-covers/<%= albumStatics.album_name.toLowerCase() %>.webp" alt="album cover">
        </div>

        <div class="song-info">
            <img src="/album-covers/<%= albumStatics.album_name.toLowerCase() %>.webp" alt="album cover" class="hidden-on-mobile">
            <div>
                <h1><%= albumStatics.album_name %></h1>
                <p class="light-gray-text">all-time ranking at #<%= albumInfo.ranking %> • <%= albumInfo.release_date %></p>
                <button><img class="icon" src="/icons/info.svg" alt="award-icon"></button>
            </div>
        </div>

        <div class="song-static btm-margin">
            <div>
                <p class="wbl-text">#<%= albumInfo.ranking %></p>
                <p class="gray-text">all-time ranking</p>
            </div>
            <div>
                <p class="wbl-text"><%= parseInt(albumStatics.count_anchored_award) + parseInt(albumStatics.count_gap_award) + parseInt(albumStatics.count_soaring_award) + parseInt(albumStatics.count_top_ten_award) + parseInt(albumStatics.count_top_one_award) %></p>
                <p class="gray-text">total awards</p>
            </div>
            <div>
                <p class="wbl-text"><%= albumInfo.release_date %></p>
                <p class="gray-text">release date</p>
            </div>
            <div></div>
        </div>

        <!-- 排名紀錄圖表 -->
        <h2>Charts</h2>
        <canvas id="song-line-chart"></canvas>

        <!-- 專輯排名相關資訊 -->
        <div class="list-statics-parent btm-margin">
            <div class="list-statics" style="background-color: #111111">
                <div><h3 style="color:<%= albumInfo.album_color %>">A W A R D S</h3></div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/crown.svg" alt="home">
                        <p class="thin-text"> #1 Peak Award</p>
                    </div>
                    <p><%= albumStatics.count_top_one_award %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/crown.svg" alt="home">
                        <p class="thin-text">Most top #10s Award</p>
                    </div>
                    <p><%= albumStatics.count_top_ten_award %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/soaring-award.svg" alt="home">
                        <p class="thin-text">Soaring Award</p>
                    </div>
                    <p><%= albumStatics.count_soaring_award %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/anchored-award.svg" alt="home">
                        <p class="thin-text">Anchored Award</p>
                    </div>
                    <p><%= albumStatics.count_anchored_award %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/gap-award.svg" alt="home">
                        <p class="thin-text">Gap Award</p>
                    </div>
                    <p><%= albumStatics.count_gap_award %></p>
                </div>
            </div>

            <div class="list-statics" style="background-color: #111111">
                <div><h3 style="color:<%= albumInfo.album_color %>">S T A T I C S</h3></div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/crown.svg" alt="home">
                        <p class="thin-text">Songs in All-Time Top #10</p>
                    </div>
                    <p><%= albumStatics.songs_in_10 %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/crown.svg" alt="home">
                        <p class="thin-text">Songs in All-Time Top #50</p>
                    </div>
                    <p><%= albumStatics.songs_in_50 %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/crown.svg" alt="home">
                        <p class="thin-text">Songs in All-Time Top #100</p>
                    </div>
                    <p><%= albumStatics.songs_in_100 %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/sorter.svg" alt="home">
                        <p class="thin-text">Average Ranking</p>
                    </div>
                    <p><%= albumStatics.songs_avr_ranking %></p>
                </div>
                <div>
                    <div class="icon-label">
                        <img class="icon" src="/icons/albums.svg" alt="home">
                        <p class="thin-text">Points</p>
                    </div>
                    <p><%= albumStatics.total_points %></p>
                </div>
            </div>
        </div> 


        <!-- 排名歷史紀錄 -->
        <h2>Songs</h2>
            <% for(let songsChartData of songsData) { %>
                <div class="ranking-box" onclick="window.location='/songs-ranking/song/<%= songsChartData.song_id %>'">
                    <div>
                        <span class="ranking-number">#<%= songsChartData.ranking %></span> <!-- 排名紀錄 -->
                        <img src="/album-covers/<%= songsChartData.album_name.toLowerCase() %>.webp" alt="Album Cover" class="ranking-cover"> <!-- 單曲封面照片 -->
                        <div class="text-overflow">
                            <p class="text-overflow wb-text"><%= songsChartData.song_name %></h2> <!-- 日期 -->
                            <p class="gray-text info-text text-overflow">some info</p> 
                        </div>
                    </div>
                    <div>
                        <div class="chart-award chart-award-album-info-page">
                            <% if ( parseInt(songsChartData.top_one_award) >= 1 ) { %>
                                <img class="icon" src="/icons/crown-1.svg" alt="award-icon">
                            <% } if ( parseInt(songsChartData.top_ten_award) <= 5 ) { %>
                                <img class="icon" src="/icons/crown-10.svg" alt="award-icon">
                            <% } if ( parseInt(songsChartData.soaring_award) <= 10 ) { %>
                                <img class="icon" src="/icons/soaring-award.svg" alt="award-icon"> 
                            <% } if ( parseInt(songsChartData.anchored_award) <= 10 ) { %>
                                <img class="icon" src="/icons/anchored-award.svg" alt="award-icon">
                            <% } if ( parseInt(songsChartData.gap_award) <= 10 ) { %>
                                <img class="icon" src="/icons/gap-award.svg" alt="award-icon">
                            <% } %>
                        </div>
                        <button class="info-button">
                            <img class="icon" src="/icons/info.svg" alt="info-icon">
                        </button> <!-- 資訊按鈕 -->
                    </div>
                </div>
            <% } %>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById("song-line-chart").getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 400);
            gradient.addColorStop(0, "<%= albumInfo.album_color %>66");
            gradient.addColorStop(0.4, "<%= albumInfo.album_color %>33");   
            gradient.addColorStop(0.8, "<%= albumInfo.album_color %>1A");
            gradient.addColorStop(1, "<%= albumInfo.album_color %>00");
                
        new Chart(ctx, {
            type: 'line',
            data: {        
                labels: <%- JSON.stringify(dateData); %>,
                datasets: [{
                backgroundColor: gradient,
                label: 'songs in top #50',
                pointBackgroundColor: "<%= albumInfo.album_color %>4D",
                data: <%- JSON.stringify(topFiftyData); %>,
                borderWidth: 1.5,
                borderColor: "<%= albumInfo.album_color %>4D",
                fill: "start"
                }, {
                backgroundColor: gradient,
                label: 'songs in top #100',
                pointBackgroundColor: "<%= albumInfo.album_color %>",
                data: <%- JSON.stringify(topHundredData); %>,
                borderWidth: 1.5,
                borderColor: "<%= albumInfo.album_color %>",
                fill: "start"
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 20,
                        ticks: {
                                stepSize: 5
                            },
                        grid: {
                            color: '#222222'
                        },
                        border: {
                            color: '#353535'
                        }
                    },
                    x: {
                        border: {
                            color: '#353535'
                        }
                    }
                },
                
            }
        });
    </script>
     

</main>