<%- include( "partials/header.ejs" ) %>

<main>

    <div class="main">
        <h1 class="chart-title">Charts on <%= currentDate.longDate %></h1>

        <!-- 日期選單，與歌曲排名表格和日期表格做互動 -->
        <div class="chart-menu">
            <button class="rounded">
                <a href="/songs-ranking">all-time</a> 
            </button>
            <% for (let dates of allDates) {%>               
                <button class="rounded">
                    <a href="/songs-ranking/date/<%= dates.id %>"><%= dates.numericDate %></a> 
                </button>
            <% } %> 
        </div> 
        
        <!-- 數據圖表 -->
        <div class="list-statics-parent btm-margin">
            <div class="list-statics dark-bk">
                <% for (let album of albumRanking) {%>
                <div>
                    <div class="icon-label">
                        <p class="list-ranking">#<%= album.ranking %></p>
                        <div>
                            <p class="big-dot" style="color: <%= album.album_color %>">●</p>
                            <p class="thin-text"><%= album.album_name %></p>
                        </div>
                    </div>
                    <p class="light-gray-text"><%= album.total_points %> points</p>
                </div>
                <% } %>
                
            </div>

            <!-- 圓餅圖 -->
            <div class="dark-bk polar-chart-statics">
                <canvas id="song-polar-chart"></canvas>
            </div>
        
        </div>
        
        <!-- 排名的日期與資訊 -->
            <div class="ranking-header">
                <div>
                    <% if (locals.currentDate) {%>
                        <p><%= currentDate.numericDate %></p>
                        <p class="gray-text text-overflow"><%= currentDate.info %></p>
                    <% } else { %>
                        <p><%= allDates[0].numericDate %></p>
                        <p class="gray-text text-overflow"><%= allDates[0].info %></p>
                    <% } %>
                </div>
                <div>
                    <div>
                        <% if ( locals.isCurrent) { %>
                            <p class="chart-info-hidden">peak</p> <!-- 最高排名 -->
                            <p class="chart-info-hidden">last ranking</p> <!-- 上次排名 -->
                        <% } %> 
                        <p class="chart-info-hidden">award</p> <!-- 獎座 -->                       
                    </div>                   
                </div>
            </div>
            

        <!-- 排名，用迴圈從資料庫中讀取資料 -->
        <% for (let songChartData of chartData) { %> 
            <div class="ranking-box" onclick="window.location='/songs-ranking/song/<%= songChartData.id %>'">
                <div>
                    <span class="ranking-number" <% if ( parseInt(songChartData.currentRanking) >= 100 ) { %> style="font-size: 20px" <% } %>>#<%= songChartData.currentRanking %></span> <!-- 當前排名 -->
                    <% if (songChartData.difference !== "" && songChartData.difference !== 0 && !isNaN(songChartData.difference)) { %>
                        <div class="rank-difference"> 
                            <img class="icon" src="/icons/<%= songChartData.difference > 0 ? 'up' : 'down' %>.svg" alt="arrow icon" >
                            <p class="chart-info-hidden"><%= Math.abs(songChartData.difference) %></p>
                        </div> <!-- 排名變化 -->
                    <% } else { %>
                        <div class="rank-difference">
                            <img class="icon" src="/icons/<%= songChartData.lastRanking === "" ? 'debut' : 'right' %>.svg" alt="arrow icon" >
                            <p><%= songChartData.lastRanking !== "" ? Math.abs(songChartData.difference) : "" %></p>
                        </div> <!-- 排名變化 -->
                    <% } %>
                    <img src="/album-covers/<%= songChartData.songName === "I Heart?" ? "beautiful eyes" : songChartData.albumName === "Single" ? songChartData.songName.toLowerCase() : songChartData.albumName.toLowerCase() %>.webp" alt="Song Cover" class="ranking-cover"> <!-- 單曲封面照片 -->
                    <div class="text-overflow">
                        <p class="text-overflow wb-text"><%= songChartData.songName %></p> <!-- 歌曲名 -->
                        <p class="gray-text info-text text-overflow"><%= songChartData.albumName %></p> <!-- 專輯名 -->
                    </div>
                </div>
                <div>
                    <p class="chart-info-hidden"><%= locals.isCurrent ? songChartData.peak : "" %></p> <!-- 最高排名 -->
                    <p class="chart-info-hidden"><%= isCurrent ? songChartData.lastRanking : "" %></p> <!-- 上次排名 -->
                    <div class="chart-award">
                        <% if ( songChartData.currentRanking ===  songChartData.peak ) { %>
                            <img class="icon" src="/icons/peak.svg" alt="award-icon">
                        <% } if ( parseInt(songChartData.difference) >= 30 ) { %>
                            <img class="icon" src="/icons/big-climb.svg" alt="award-icon"> 
                        <% } else if ( parseInt(songChartData.difference) <= -30 ) { %>
                            <img class="icon" src="/icons/big-drop.svg" alt="award-icon">
                        <% } %>
                    </div>
                    <button class="info-button">
                        <img class="icon" src="/icons/info.svg" alt="info-icon">
                    </button> <!-- 資訊按鈕 -->
                </div>
            </div>
        <% } %>

    </div>

</main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById("song-polar-chart").getContext("2d");
        new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: <%- JSON.stringify(polarChartsAlbumName); %>,
                datasets: [{
                    label: 'Songs in Top 50%',
                    data: <%- JSON.stringify(polarChartsData); %>,
                    backgroundColor: <%- JSON.stringify(polarChartsColor); %>,
                    borderColor: '#111111',
                    borderWidth: 2.5
                }],
                
            },
            options: {
                
                plugins: {
                    
                    legend: { 
                        position: 'bottom',
                        labels: {
                            color: '#737373',
                            font: {
                                size: 12
                            },
                            padding: 15
                        }
                    }
                    
                },
                scales: {
                    r: {
                        grid: {
                            color: '#252525'
                        },
                        ticks: {
                            color: '#505050',
                            backdropColor: '#111111'
                        }
                    }
                }   
            }
        });

    </script>

</body>
</html> 